* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(vecteezy_purple-minimalist-wallpaper-high-quality-4k-hdr_30698588.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.formcontainer {
    background-color: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    max-width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.cstmr_list {
    margin-top: 20px;
}

.second {
    width: 1000px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

#amountshow {
    background-color: white;
}

#table-responsive {
    width: 300px;
    display: none;
}
#table-responsive-second{
    display: none;
}
.amountbtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;

}

#amountshow {
    padding-right: 20px;
    width: fit-content;
}
/* ---------- */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* table-layout: auto; */
}

table,
th,
td{
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}
.quantityinput{
    border: none;
    background-color: transparent;
    max-width: 100%;
}